<div class="card mb-3">
    <div class="card-body">
        {% if form_action == "add" %}
            <form action="/notes" method="POST" enctype="multipart/form-data">
        {% else %}
            {% if user.id == note.user_id %}
                <form action="/notes/{{ note.uuid }}" method="POST" enctype="multipart/form-data">
            {% endif %}
        {% endif %}
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ note.title }}">
        </div>
        <div class="form-group mb-3">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content">{{ note.content }}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="image">Image:</label>
            {% if note %}
                <img src="{{ note.image.url }}" height="150" class="m-2" style="display: block"/>
            {% endif %}
            <input name="image" type="file" class="form-control" id="image">
        </div>

        {% if note.created_at %}
            <div class="form-group mb-3">
                <label for="content">Created at:</label>
                <span class="form-control">{{ note.created_at }}</span>
            </div>
        {% endif %}
        {% if note.updated_at %}
            <div class="form-group mb-3">
                <label for="content">Updated at:</label>
                <span class="form-control">{{ note.updated_at }}</span>
            </div>
        {% endif %}
        {% if form_action == "add" %}
            <button class="btn btn-primary" type="submit">Add</button>
        {% else %}
            {% if user.id == note.user_id %}
                <button class="btn btn-primary" type="submit">Update</button>
            {% endif %}
        {% endif %}
        </form>
    </div>
</div>