{% if notes %}
    <div class="row">
        {% for note in notes %}
            <div class="col-4 mb-3">
                <div class=" card">
                    <div class="card-body">

                        <h5 class="card-title">{{ note.title }} <small><a class="link"
                                                                          href="/user/{{ note.user.username }}/notes">Author: {{ note.user.username }}</a></small>
                        </h5>
                        <p class="card-text">{{ note.content }}</p>
                        <a href="/notes/{{ note.uuid }}" class="btn btn-primary">View</a>
                        {% if user.id == note.user_id %}
                            <a href="/notes/{{ note.uuid }}/remove" class="btn btn-danger">Remove</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="alert alert-danger" role="alert">Not found records</p>
{% endif %}