{% extends "layout/default.html" %}

{% block page_title %}
    <h2 class="mb-3">Recovery password</h2>
{% endblock page_title %}

{% block page_content %}

    {% if email_sent %}

        <h5>Email was sent</h5>

        <p>Check yours emails</p>

    {% else %}

        <form method="POST">

            {% csrf_token %}

            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <button type="submit">Save</button>

        </form>

    {% endif %}

{% endblock page_content %}